@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");

body {
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  background-color: #c3a2a2;
}

.card {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  height: 600px;
  overflow: hidden;
  border-radius: 1rem;
}
#heading {
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  /* margin-top: 0; */
  width: 100%;
  /* max-width: 66%; */
  margin: auto;
  font-size: 1.8rem;
  background-color: #3da7a7;
  /* border-radius: 2rem; */
  /* box-sizing: border-box; */
}
#inputDate {
  font-size: 1rem;
  border: none;
  border-bottom: 3px solid #2a4343;
  border-radius: 0.5rem;
  height: 28px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  outline: none;
  margin: 0 auto;
  /* background-color: #ecf0f1; */
  background-color: #b79595;
  transition-duration: 0.4s;
}

#inputDate:hover {
  cursor: pointer;
  background-color: #957373;
}
#btn {
  height: 58px;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  margin: 1.2rem;
  border: whitesmoke;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #b79595;
  border-bottom: 3px solid #2a4343;
  border-radius: 0.4rem;
  transition-duration: 0.5s;
}
#btn:hover {
  cursor: pointer;
  background-color: #957373;
}

/* FOOTER */

.footer {
  margin: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer-wrapper {
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 0.1em;
  font-family: "Be Vietnam Pro", sans-serif;
}

#footer-wrapper p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  margin: 1rem 1.5rem;
  color: #6c31ae;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  transition: all 0.2s ease-in;
}

.social-links a:hover {
  background-color: #ed5107;
  font-weight: bold;
  transform: scale(1.1);
}
